src/main/mule/connected-app.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="92b19bc1-b6a0-4fde-a70c-19dcfc7b6373" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<flow name="connected-appFlow" doc:id="b278003f-a223-4bee-bd07-2ee7af210b5e" >
		<http:listener doc:name="Listener" doc:id="cb1a05b9-6482-4e37-93da-4d18b116e4d4" config-ref="HTTP_Listener_config" path="/cicd1"/>
		<ee:transform doc:name="Transform Message" doc:id="ae0e60ca-694d-4218-b8d3-2bf00b448ecb" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
	"status" :201,
	"message":"application created",
	"success":"updated"
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<logger level="INFO" doc:name="Logger" doc:id="87a91f03-f594-48f9-babb-7d5841893a7c" message="#[payload]"/>
	</flow>
</mule>
